.Science
{
    text-align: center;
   background: linear-gradient(to right,cyan,yellow);
}
.biology
{
    text-align: center;
}
.sci
{
background: linear-gradient(to right, cyan,magenta);
}